.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-head {
  display: flex;
  align-items: center;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
